.search-container {
    flex: 1;
    position: relative; /* Needed for absolute positioning of results */
    width: 90%; /* Adjust as needed */
    margin-left: 5%;
}


.search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #555;
    border-radius: 8px;
    background-color: #333;
}

.search-input-wrapper input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: #eee;
    outline: none;
}


.search-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 12px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex; /* Added for vertical alignment of icon */
    align-items: center; /* Vertically center the icon */
}

.search-button:hover {
    background-color: #777;
}

/* Styles for the loading spinner */
.search-button .fa-spinner {
    animation: spin 1s linear infinite; /* Apply the spin animation */
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.search-results {
    position: absolute; /* Float the results */
    top: 110%; /* Position below the input */
    left: 0;
    width: 100%;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px 5px 5px 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10; /* Ensure results appear above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-height: 200px; /* Set a maximum height */
    overflow-y: auto; /* Add scrollbar if needed */
}

.search-result-item {
    padding: 10px;
    border-bottom: 1px solid #444;
    cursor: pointer;
    color: #eee;
    text-decoration: none;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.search-result-item a {
    color: #eee;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.search-result-item a>div{
    font-weight: 100;
    font-style: italic;
}

.search-result-item:last-child {
    border-bottom: none;
}

.search-result-item:hover {
    background-color: #444;
}