
#blogs-container {
  width: 70%;
  height: 85%;
  margin: 20px auto;
  background-color: #282828;
  padding: 20px;
  border-radius: 8px;
  color: #eee;
}

.blog-preview-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.votes-container{
  width: 10%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.content{
  overflow: auto;
  height: 90%;
}

.tabs button {
  background-color: #444;
  color: #eee;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.tabs button.active {
  background-color: #666;
}

.blog-list, .author-list {
  padding: 10px;
}

.blog-preview {
  border-bottom: 1px solid #444;
  margin-bottom: 10px;
}

.blog-preview a{
  color: #66b3ff;
  text-decoration: none;
}
.blog-preview a:hover{
  text-decoration: underline;
}

.blog-list h2, .author-list h2 {
  margin-bottom: 10px;
}

.author-list ul {
  list-style: none;
  padding: 0;
}

.author-list li {
  margin-bottom: 5px;
}
.author-list li a{
  color: #66b3ff;
  text-decoration: none;
}
.author-list li a:hover{
  text-decoration: underline;
}