#blog_div{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

#blog_title_div_detail{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 0.5fr;
  justify-content: center;
  align-items: center;
}

.blog_title{
  font-size:450% ;
  font-weight:500;
  grid-area: 1/1/2/3;
}

.blog_date{
  font-size: 15px;
}

#blog_body_div{
  padding: 1% 5% 1% 5% ;
}

#blog_author{
  text-align: end;
  margin-left: auto;
  margin-right: 1%;
  font-style: italic;
  border-bottom: 1px solid white;
}

#blog_title_date_and_count{
  margin-left: 5%;
  display: flex;
  align-items: center;
  gap: 5%;
  justify-content:flex-start;
}  

.votes_comments_main_details_page{
  width: 12%;
  font-size: 100%;
  background-color: #6e6e6ea8;
  border:1px solid rgb(10, 10, 10) ;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

#comments_div_main{
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#comments_new_btn{
  font-size: 80%;
}

#comments_div_header{
  font-size: 150%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:2%;
  width: 90%;
}

.votes_comments_main_details_page>button{
  background-color: #6e6e6ea8;
  border-radius: 15px;
  font-size: 130%;
}

.votes_comments_main_details_page>button::before{
  margin-left: 30%;
  margin-bottom: 5%;
}


.votes_comments_main_details_page>.vote_btn_blue{
  background-color: #047ac9;
}

#comment_post_form{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
}

#comment_post_form>button{
  font-size: 16px;
}

#comment_post_form>input {
  width: 80%; 
  padding: 5px;
  font-size: 18px;
  border: 1px solid #555; 
  border-radius: 5px;
  background-color: #333; 
  color: #eee; 
  outline: none; 
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
  box-sizing: border-box; 
}

#comment_post_form>input:focus {
  border-color: #777; 
  box-shadow: 0 0 5px rgba(100, 100, 100, 0.3);
}

#comment_post_form>input::placeholder {
  color: #777; 
}

