#blog_div{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  #blog_title_div_edit{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 0.5fr;
    justify-content: center;
    align-items: center;
  }
  
  .blog_title{
    font-size:450% ;
    font-weight:500;
    grid-area: 1/1/2/3;
  }
  
  .blog_date{
    font-size: 15px;
  }
  
  #blog_body_div{
    padding: 1% 5% 1% 5% ;
  }
  
  #blog_author{
    text-align: end;
    margin-left: auto;
    margin-right: 1%;
    font-style: italic;
  }
  