
#footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer>span{
  margin-right: 5px;
  font-style: italic;
}

.home-page-container{
  width: 90%;
  height: 88%;
  margin: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  gap: 20px;
}

#blogs-container-home {
  overflow: auto;
  width: 70%;
  height: 95%;
  background-color: #282828;
  padding: 20px;
  border-radius: 8px;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
}


.call-to-action {
  height: 100%;
  max-width: 30%;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 20px;
}

.call-to-action>div {
  background-color: #282828;
  padding: 20px;
  border-radius: 8px;
  text-align: center; /* Center the content */
  color: #eee;

}

.call-to-action h2 {
    margin-bottom: 20px;
}

/* .call-to-action p {
    margin-bottom: 30px;
} */

.write-blog-button, .auth-button {
  text-decoration: none;
  display: inline-block;
  background-color: #61dafb; /* React blue */
  color: #000000;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
  margin: 0 10px;
}

.write-blog-button:hover, .auth-button:hover {
  background-color: #5daeda;
  transform: scale(1.03);
  color: #000000;
}

.auth-buttons {
    display: flex;
    justify-content: center;
}

#cta-loading-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
