 #blogs_div_main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blogs_div{
    padding: 1%;
    border-radius: 15px;
    background-color: #f9f9f911;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#blogs_header{
    width: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#blogs_header>#blogs_div_title{
    font-size: 200%;
    margin-left: auto;
    margin-right: 0;    
}

#blogs_header>form{
    margin-right: 0;
    margin-left: auto;
}

#blogs_list{
    width: 90%;
    overflow: auto;
    font-size: 150%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.blogs_list_item{
    width: 95%;
    display: grid;
    grid-template-columns: 7fr 1.5fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.blogs_list_item.mobile{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid white;
}

.blog_list_item_a.mobile{
   grid-area: 1/1/2/3;
}

.blog_req_status_main{
    width: 90%;
    height: 70%;
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    border:1px solid rgb(10, 10, 10) ;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.blog_req_status_main.mobile{
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2/2/3/3;
    border:1px solid rgb(10, 10, 10) ;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.blog_req_status_main:hover {
    background-color: #555; 
    transform: translateY(-1px);
}

.status_color3 {
    background-color: #9e100c; /* Reddish for rejected */
}

.status_color1 {
    background-color: #c7762a; /* Orange for sent */
}

.status_color2 {
    background-color: #258d25; /* Green for accepted */
}
  
.status_color0 {
    background-color: #777; /* Darker grey for not sent */
}

.votes_comments_main{
    width: 90%;
    height: 70%;
    font-size: 100%;
    background-color: #0a9dffa8;
    border:1px solid rgb(10, 10, 10) ;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.votes_comments_main.mobile{
    font-size: 100%;
    grid-area: 2/1/3/2;
    background-color: #0a9dffa8;
    border:1px solid rgb(10, 10, 10) ;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: space-around;
} 

.votes_comments_main_edit_page{
    width: 20%;
    height: 20%;
    font-size: 100%;
    background-color: #8a8c8d83;
    border:1px solid rgb(10, 10, 10) ;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.votes_count,.comments_count{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    color: #acacac;
}

.votes_count.mobile,.comments_count.mobile{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myBlogs-edit-link{
    border-radius: 15px;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    color: #0a9dffa8;
}

.myBlogs-edit-link.mobile{
    grid-area: 3/1/4/3;
    padding: 5px 30px 5px 30px;
}

#no_blogs_div_myBlogs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#no_blogs_div_myBlogs>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}